root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = silent

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = silent

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = silent

# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = silent

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = silent

# CA1826: Do not use Enumerable methods on indexable collections
dotnet_diagnostic.CA1826.severity = silent

csharp_style_namespace_declarations=file_scoped:silent
